.SiteNav-navbar{
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
}

.SiteNav-logo{
  padding: 10px;
}

.SiteNav-logo:hover{
  cursor: pointer;
}

.SiteNav-join>a{
  background-color: #f48400 !important;
  color: #fff !important;
  border-radius: 5px 5px;
  margin: 7px 10px 7px 10px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.SiteNav-join>a:hover{
  background-color: #dc7a06 !important;
}

.SiteNav-navbar .SiteNav-menubar>.active>a, .SiteNav-navbar .SiteNav-menubar>.active>a:focus, .SiteNav-navbar .SiteNav-menubar>.active>a:hover {
  background-color: #F8F8F8;
  color: #f48400;
  font-weight: bold;
}
