.SiteFooter-container {
  margin-top: 50px;
  background: #442400;
  color: #fff;
}

.SiteFooter-email, .SiteFooter-share, .SiteFooter-link, .SiteFooter-logo {
  padding: 20px;
}

.SiteFooter-email, .SiteFooter-share {
  margin-top: 30px;
}

.SiteFooter-email-input {
  width: 60%;
  margin-right: 10px;
}

.SiteFooter-email-input input {
  width: 100% !important;
  background: #442400;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
}

.SiteFooter-email-input input:focus {
  border: 1px solid #fff;
}

.SiteFooter-email-button {
  background: #442400;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
}

.SiteFooter-email-button:hover {
  background: #5e3100;
  color: #fff;
}

.SiteFooter-email-helper {
  text-align: left;
  padding-top: 10px;
  padding-left: 13%;
  font-size: 12px;
  color: #c1c1c1;
}

.SiteFooter-share-android {
  padding-right: 5px;
}

.SiteFooter-share-ios {
  padding-left: 5px;
}

.SiteFooter-share-android img, .SiteFooter-share-ios img{
  max-width: 100%;
}

.SiteFooter-share-text, .SiteFooter-share-socialmedia {
  padding: 0px;
}

.SiteFooter-share-text {
  text-align: left;
}

.SiteFooter-share-socialmedia {
  text-align: right;
}

.SiteFooter-share-socialmedia img {
  margin-left: 5px;
}

.SiteFooter-link {
  text-align: left;
  font-size: 1em;
  line-height: 1em;
}

.SiteFooter-link-accordion {
  margin-bottom: 0px;
}

.SiteFooter-link-panel, .SiteFooter-link-panel > .panel-heading, .SiteFooter-link-panel > .panel-collapse > .panel-body {
  background-color: transparent;
  color: #fff;
  border: none !important;
  padding: 0px;
}

.SiteFooter-link-panel > .panel-heading > h4 {
  font-size: 1em;
  font-weight: bold;
}

.SiteFooter-link-panel > .panel-collapse > .panel-body {
  padding-top: 10px;
}

.SiteFooter-link-href:hover{
  cursor: pointer;
  color: #ffb763;
}

.SiteFooter-logo {
  margin-top: 30px;
}

.SiteFooter-logo-text {
  text-align: right;
  line-height: 1em;
}

.SiteFooter-logo img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .SiteFooter-email, .SiteFooter-share, .SiteFooter-link, .SiteFooter-logo {
    padding: 0px;
    margin-top: 30px;
  }

  .SiteFooter-email {
    padding-left: 5%;
    padding-right: 5%;
  }

  .SiteFooter-email-input {
    width: 100%;
    margin-right: 0px;
  }

  .SiteFooter-email-input input {
    text-align: center;
    padding-right: 0px !important;
  }

  .SiteFooter-email-input input.form-control {
    padding: 0px;
  }

  .SiteFooter-email-button {
    width: 100%;
    background: #5e3100;
  }

  .SiteFooter-email-helper {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
    font-size: 11px;
  }

  .SiteFooter-share {
    padding: 10px;
  }

  .SiteFooter-share-android {
    padding-right: 5px;
  }

  .SiteFooter-share-ios {
    padding-left: 5px;
  }

  .SiteFooter-link {
    text-align: left;
    font-size: 1.1em;
  }

  .SiteFooter-link-panel > .panel-heading {
    border-bottom: 1px solid #fff !important;
    padding: 10px;
  }

  .SiteFooter-link-panel > .panel-collapse > .panel-body {
    padding-left: 20px;
  }

  .SiteFooter-logo {
    margin-bottom: 10px;
  }

  .SiteFooter-logo-text {
    text-align: center;
  }
}
