.Home-slideshow1-btn, .Home-slideshow2-btn, .Home-slideshow3-btn {
  position: absolute;
  left: 12.5%;
  background-color: #f48400 !important;
  color: #fff !important;
  padding: 5px 50px 5px 50px;
  font-size: 2.5em;
}

.Home-slideshow1-btn:hover, .Home-slideshow2-btn:hover, .Home-slideshow3-btn:hover {
  background-color: #dc7a06 !important;
}

.Home-slideshow1-btn {
  top: 67.5%;
}

.Home-slideshow2-btn {
  top: 60%;
}

.Home-slideshow3-btn {
  top: 55%;
}

.Home-barcontainer {
  margin-top: 50px;
}

.Home-leftbar {
  text-align: left;
  line-height: 175%;
}

.Home-rightbar img {
  max-width: 100%;
}

carousel .control-dots {
  margin-bottom: 2% !important;
}

@media screen and (min-width: 1028px) {
  .carousel {
    height: 465px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .Home-slideshow1-btn, .Home-slideshow2-btn, .Home-slideshow3-btn {
    padding: 2px 15px 2px 15px;
    font-size: 1.5em;
    border-radius: 0px;
  }

  .Home-barcontainer {
    margin-top: 0px;
  }

  .Home-leftbar, .Home-rightbar {
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .Home-slideshow1-btn, .Home-slideshow2-btn, .Home-slideshow3-btn {
    padding: 2px 15px 2px 15px;
    font-size: 0.75em;
    border-radius: 0px;
  }
}
