.About-container {
  margin-top: 30px;
}

.About-leftbar {
  text-align: left;
  /*
  position: fixed;
  padding-right: 75px;
  padding-left: 0px;
  */
}

.About-leftbar img, .About-rightbar img {
  max-width: 100%;
}

.About-midrightbar {
  padding: 0px;
}

.About-midbar {
  text-align: left;
  line-height: 175%;
}

.About-rightbar {
  padding-top: 20px;
  padding-right: 0px;
}

.About-content {
  margin-bottom: 50px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .About-container {
    margin-top: 30px;
  }

  .About-leftbar {
    text-align: center;
    position: relative;
    padding: 0px;
  }

  .About-leftbar img {
    max-width: 60%;
  }

  .About-midrightbar {
    padding: 15px;
  }

  .About-midbar {
    padding: 0px;
    margin-top: 20px;
  }

  .About-rightbar {
    padding-top: 0px;
    padding-right: 15px;
  }

  .About-content {
    margin-bottom: 30px;
  }
}
