@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
       url('/fonts/OpenSans-Regular.woff') format('woff'); /* Modern Browsers */
}

body {
  margin: 0;
  padding: 61px 0px 0px 0px;
  font-family: 'Open Sans',sans-serif;
}
